<header>
  <h1>Battleground II</h1>
</header>
<div>
  <%= "Good Hit!" %>
  <%= "#{@game.attacker.name}, it's your turn to attack now." %>
</div>
<form action='/play' method='get'>
  <div class=button>
    <button type='submit'>Back To Battle</button>
  </div>
