<body class='player-registration'>
  <form action='/names' method='post'>
    <div class='player-1'>
      <label for='Player 1'>Player 1 - Enter name:</label>
      <input type='text' id='Player 1' name='player_1_name'>
    </div>
    <div class='player-2'>
      <label for='Player 2'>Player 2 - Enter name:</label>
      <input type='text' id='Player 2' name='player_2_name'>
    </div>
    <div class='button'>
      <button type='submit'>Submit</button>
    </div>
<body/>
