<body>
  <div class='split left'>
      <p id="player-1-play"><%="Player 1: #{@game.player_1.name}"%></p>
      <p id="player-1-hit-points"><%="#{@game.player_1.hit_points}"%></p>
  </div>
  <div class='split right'>
      <p id="player-2-play"><%="Player 2: #{@game.player_2.name}"%></p>
      <p id="player-2-hit-points"><%="#{@game.player_2.hit_points}"%></p>
  </div>
    <form action='/attack' method='get'>
      <div class="button">
        <button id="attack" type='submit'>Attack</button>
      </div>
    </form>
<body/>
