<body>
  <div class='split left'>
      <p id="player_1_play"><%= "Player 1: #{@game.player_1.name}" %></p>
    <%= "Player 1 Hit Points = #{@game.player_1.hit_points}" %>
    <form action='/attack' method='get'>
      <div class=button>
        <button type='submit'>Attack</button>
      </div>
    </form>
  </div>
  <div class='split right'>
      <p id="player_2_play"><%= "Player 2: #{@game.player_2.name}" %></p>
    <%= "Player 2 Hit Points = #{@game.player_2.hit_points}" %>
  </div>
<body/>
