<div>
  <%= "Player 1 is #{@player_1}" %>
  <%= "Player 1 Hit Points = #{@player_1_hit_points}" %>
</div>
<div>
  <%= "Player 2 is #{@player_2}" %>
  <%= "Player 2 Hit Points = #{@player_2_hit_points}" %>
</div>
