body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #F0F3F4;
  margin: 0;
}

header > * {
  text-align: center;
  font-size: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, serif;
}

.player-1, .player-2 {
  height: 100%;
  width: 50%;
  padding-left: 20px;
  position: fixed;
  z-index: 1;
  top: 150;
  font-size: 50px;
}


input {
  width: 60%;
  height: 50px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  display: block;
}


input::placeholder {
  color: #17202A;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
}

input:placeholder-shown {
  color: #17202A;
  font-size: 20px;
  font-family: Helvetica, Verdana, sans-serif;
}

.button {
  color: black;
  font-size: 20px;
}

.split {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  font-style: normal;
  font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  padding-top: 200;
  padding-left: 20;
  padding-right: 20;
}

.left {
  background-color: #E74C3C;
  color: #F7F9F9;
  left: 0;
}

.right {
  background-color: #444;
  color: #F7F9F7;
  right: 0;
}

#player-1-play, #player-2-play {
  font-size: 75px;
  position: absolute;
  top: 5;
}

#player-1-hit-points, #player-2-hit-points {
  font-size: 200px;
  padding-left: 200px;
  position: absolute;
  top: 150px;
}

#attack-confirmation {
  font-size: 100px;
  text-align: center;
  background-color: #444;
  color: #F7F9F7;
}

#player-message, #result-message {
  font-size: 75px;
  text-align: center;
}

#enter-names, #attack, #back-to-battle, #play-again {
  position: absolute;
  z-index: 1;
  border-radius: 12px;
  width: 200;
  height: 50;
  top: 65%;
  left: 712px;
  color: black;
  font-size: 20px;
}
