.player-registration {
  background-color: whitesmoke
}

.player-1 {
  background-color: whitesmoke
}

.player-2 {
  background-color: whitesmoke
}

.battleground {
  background-color: whitesmoke;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  font-style: normal;
  font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.left {
  background-color: crimson;
  left: 0;
}

.right {
  background-color: cornflowerblue;
  right: 0;
}
