.player-registration, .player-1, .player-2 {
  background-color: whitesmoke
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  font-style: normal;
  font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  padding-top: 200;
  padding-left: 20;
  padding-right: 20;
}

.left {
  background-color: #E74C3C;
  color: #444;
  left: 0;
}

.right {
  background-color: cornflowerblue;
  color: #F7F9F9;
  right: 0;
}
